<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Administrar Contactos</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  <link rel="icon" href="/img/administracion.png" type="image/png">
</head>
<body class="admin-page">
  <header>
    <nav>
      <a href="/admin">
        <i class="fas fa-tachometer-alt"></i> Inicio
      </a>
      <a href="/admin/services">
        <i class="fas fa-tools"></i> Servicios
      </a>
      <a href="/admin/galeria">
        <i class="fas fa-cogs"></i> Otros
      </a>
      <a href="/admin/contact">
        <i class="fas fa-address-book"></i> Contacto
      </a>
      <a href="/logout">
        <i class="fas fa-sign-out-alt"></i> Cerrar Sesión
      </a>
    </nav>
  </header>

  <main>
    <div class="admin-container-contact">
      <!-- Sección para agregar contactos -->
      <section class="add-contact">
        <h1>Agregar Contacto</h1>
        <form action="/admin/contact/add" method="post" class="contact-form">
          <div class="form-group">
            <label for="name">Nombre:</label>
            <input type="text" id="name" name="name" required>
          </div>

          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
          </div>

          <div class="form-group">
            <label for="telefono">Teléfono:</label>
            <input type="text" id="telefono" name="telefono" required>
          </div>

          <div class="form-group">
            <label for="emailUrl">URL de Email:</label>
            <input type="url" id="emailUrl" name="emailUrl">
          </div>
            <div class="form-group">
            <label for="whatsappUrl">Número de WhatsApp:</label>
            <input type="text" id="whatsappUrl" name="whatsappUrl" pattern="\d+" title="Solo se permiten números" required>
            </div>
            <script>
            const whatsappInput = document.getElementById('whatsappUrl');
            whatsappInput.addEventListener('input', () => {
              const number = whatsappInput.value.replace(/\D/g, ''); // Eliminar caracteres no numéricos
              whatsappInput.value = number ? `https://wa.me/${number}` : '';
            });
            </script>
          <div class="form-group">
            <label for="facebookUrl">URL de Facebook:</label>
            <input type="url" id="facebookUrl" name="facebookUrl">
          </div>
          <div class="form-group">
            <label for="extraUrl">URL Extra:</label>
            <input type="url" id="extraUrl" name="extraUrl">
          </div>
          <div class="form-group">
            <label for="footer">Footer:</label>
            <input type="text" id="footer" name="footer">
          </div>

          <button type="submit" class="submit-btn">Añadir Contacto</button>
        </form>
      </section>

      <!-- Sección para administrar contactos -->
      <section class="manage-contact">
        <h2>Contactos Actuales</h2>
        <ul class="contact-list-admin">
          <% contact.forEach(contact => { %>
            <li class="contact-item-admin">
              <div class="contact-details-admin">
                <strong><%= contact.name %></strong>
                <p>Email: <%= contact.email %></p>
                <p>Teléfono: <%= contact.telefono %></p>
              </div>
              <form action="/admin/contact/delete/<%= contact._id %>" method="post">
                <button type="submit" class="delete-btn">Eliminar</button>
              </form>
              <!-- Botón para mostrar/ocultar formulario de actualización -->
              <button class="toggle-update-form" onclick="toggleUpdateForm('<%= contact._id %>')">Actualizar</button>

              <!-- Formulario para actualizar un contacto (oculto por defecto) -->
              <div id="update-form-<%= contact._id %>" class="update-form-container" style="display: none;">
                <form action="/admin/contact/update/<%= contact._id %>" method="post" class="update-form">
                  <fieldset>
                    <legend>Actualizar Contacto</legend>
                    <div class="form-group">
                      <label for="name">Nombre:</label>
                      <input type="text" id="name" name="name" value="<%= contact.name %>" required>
                    </div>

                    <div class="form-group">
                      <label for="email">Email:</label>
                      <input type="email" id="email" name="email" value="<%= contact.email %>" required>
                    </div>

                    <div class="form-group">
                      <label for="telefono">Teléfono:</label>
                      <input type="text" id="telefono" name="telefono" value="<%= contact.telefono %>" required>
                    </div>

                    <div class="form-group">
                      <label for="emailUrl">URL de Email:</label>
                      <input type="url" id="emailUrl" name="emailUrl" value="<%= contact.emailUrl %>">
                    </div>

                    <div class="form-group">
                      <label for="whatsappUrl">URL de WhatsApp:</label>
                      <input type="text" id="whatsappUrl-<%= contact._id %>" name="whatsappUrl" value="<%= contact.whatsappUrl %>" pattern="\d+" title="Solo se permiten números" required>
                    </div>
                    <script>
                      const whatsappInputUpdate = document.getElementById('whatsappUrl-<%= contact._id %>');
                      whatsappInputUpdate.addEventListener('input', () => {
                        const number = whatsappInputUpdate.value.replace(/\D/g, ''); // Eliminar caracteres no numéricos
                        whatsappInputUpdate.value = number ? `https://wa.me/${number}` : '';
                      });
                    </script>

                    <div class="form-group">
                      <label for="facebookUrl">URL de Facebook:</label>
                      <input type="url" id="facebookUrl" name="facebookUrl" value="<%= contact.facebookUrl %>">
                    </div>

                    <div class="form-group">
                      <label for="extraUrl">URL Extra:</label>
                      <input type="url" id="extraUrl" name="extraUrl" value="<%= contact.extraUrl %>">
                    </div>
                    <div class="form-group">
                      <label for="footer">Footer:</label>
                      <input type="text" id="footer" name="footer" value="<%= contact.footer %>">
                    </div>

                    <button type="submit" class="btn btn-primary">Actualizar</button>
                  </fieldset>
                </form>
              </div>
            </li>
          <% }); %>
        </ul>
      </section>
    </div>
  </main>
</body>
<script>
  function toggleUpdateForm(id) {
    const form = document.getElementById(`update-form-${id}`);
    form.style.display = form.style.display === 'none' ? 'block' : 'none';
  }
</script>
</html>
