<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Administrar Contactos</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  <link rel="icon" href="/img/administracion.png" type="image/png">
</head>
<body class="admin-page">
  <header>
    <nav>
      <a href="/admin">
        <i class="fas fa-tachometer-alt"></i> Inicio
      </a>
      <a href="/admin/services">
        <i class="fas fa-tools"></i> Servicios
      </a>
      <a href="/admin/galeria">
        <i class="fas fa-cogs"></i> Otros
      </a>
      <a href="/admin/contact">
        <i class="fas fa-address-book"></i> Contacto
      </a>
      <a href="/logout">
        <i class="fas fa-sign-out-alt"></i> Cerrar Sesión
      </a>
    </nav>
  </header>

  <main>
    <div class="admin-container-contact">
      <!-- Sección para agregar contactos -->
      <section class="add-contact">
        <h1>Agregar Contacto</h1>
        <form action="/admin/contact/add" method="post" class="contact-form">
          <div class="form-group">
            <label for="name">Nombre:</label>
            <input type="text" id="name" name="name" required>
          </div>

          <div class="form-group">
            <label for="email">Email:</label>
            <input 
              type="email" 
              id="email" 
              name="email" 
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" 
              title="Por favor, introduce un correo electrónico válido (ejemplo: usuario@dominio.com)" 
              required>
          </div>

          <div class="form-group">
            <label for="telefono">Teléfono:</label>
            <input type="text" id="telefono" name="telefono" pattern="\d+" title="Solo se permiten números" required>
          </div>

          <div class="form-group">
            <label for="emailUrl">URL de Email:</label>
            <input type="url" id="emailUrl" name="emailUrl" readonly>
          </div>
          <script>
            const emailInputAdd = document.getElementById('email');
            const emailUrlInputAdd = document.getElementById('emailUrl');

            emailInputAdd.addEventListener('input', () => {
              const emailValue = emailInputAdd.value.trim();
              emailUrlInputAdd.value = emailValue ? `mailto:${emailValue}` : '';
            });
          </script>
          <div class="form-group">
            <label for="whatsappUrl">Número de WhatsApp:</label>
            <input type="text" id="whatsappUrl" name="whatsappUrl" readonly>
          </div>
          <script>
            const telefonoInput = document.getElementById('telefono');
            const whatsappUrlInput = document.getElementById('whatsappUrl');

            telefonoInput.addEventListener('input', () => {
              const telefonoValue = telefonoInput.value.replace(/\D/g, ''); // Eliminar caracteres no numéricos
              whatsappUrlInput.value = telefonoValue ? `https://wa.me/${telefonoValue}` : '';
            });
          </script>
          <div class="form-group">
            <label for="facebookUrl">URL de Facebook:</label>
            <input type="url" id="facebookUrl" name="facebookUrl">
          </div>
          <div class="form-group">
            <label for="extraUrl">URL Extra:</label>
            <input type="url" id="extraUrl" name="extraUrl">
          </div>
          <div class="form-group">
            <label for="footer">Footer:</label>
            <input type="text" id="footer" name="footer">
          </div>

          <button type="submit" class="submit-btn">Añadir Contacto</button>
        </form>
      </section>

      <!-- Sección para administrar contactos -->
      <section class="manage-contact">
        <h2>Contactos Actuales</h2>
        <ul class="contact-list-admin">
          <% contact.forEach(contact => { %>
            <li class="contact-item-admin">
              <div class="contact-details-admin">
                <strong><%= contact.name %></strong>
                <p>Email: <%= contact.email %></p>
                <p>Teléfono: <%= contact.telefono %></p>
              </div>
              <form action="/admin/contact/delete/<%= contact._id %>" method="post">
                <button type="submit" class="delete-btn">Eliminar</button>
              </form>
              <!-- Botón para mostrar/ocultar formulario de actualización -->
              <button class="toggle-update-form" onclick="toggleUpdateForm('<%= contact._id %>')">Actualizar</button>

              <!-- Formulario para actualizar un contacto (oculto por defecto) -->
              <div id="update-form-<%= contact._id %>" class="update-form-container" style="display: none;">
                <form action="/admin/contact/update/<%= contact._id %>" method="post" class="update-form">
                  <fieldset>
                    <legend>Actualizar Contacto</legend>
                    <div class="form-group">
                      <label for="name">Nombre:</label>
                      <input type="text" id="name" name="name" value="<%= contact.name %>" required>
                    </div>

                    <div class="form-group">
                      <label for="email">Email:</label>
                      <input 
                        type="email" 
                        id="email-<%= contact._id %>" 
                        name="email" 
                        value="<%= contact.email %>" 
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" 
                        title="Por favor, introduce un correo electrónico válido (ejemplo: usuario@dominio.com)" 
                        required>
                    </div>

                    <div class="form-group">
                      <label for="telefono">Teléfono:</label>
                      <input type="text" id="telefono-<%= contact._id %>" name="telefono" value="<%= contact.telefono %>" pattern="\d+" title="Solo se permiten números" required>
                    </div>

                    <div class="form-group">
                      <label for="emailUrl">URL de Email:</label>
                      <input type="url" id="emailUrl-<%= contact._id %>" name="emailUrl" value="<%= contact.emailUrl %>" readonly>
                    </div>
                    <script>
                      const emailInput = document.getElementById('email-<%= contact._id %>');
                      const emailUrlInput = document.getElementById('emailUrl-<%= contact._id %>');

                      emailInput.addEventListener('input', () => {
                        const emailValue = emailInput.value.trim();
                        emailUrlInput.value = emailValue ? `mailto:${emailValue}` : '';
                      });
                    </script>

                    <div class="form-group">
                      <label for="whatsappUrl">Número de WhatsApp:</label>
                      <input type="text" id="whatsappUrl-<%= contact._id %>" name="whatsappUrl" value="<%= contact.whatsappUrl %>" readonly>
                    </div>
                    <script>
                      const telefonoInputUpdate = document.getElementById('telefono-<%= contact._id %>');
                      const whatsappUrlInputUpdate = document.getElementById('whatsappUrl-<%= contact._id %>');

                      telefonoInputUpdate.addEventListener('input', () => {
                        const telefonoValue = telefonoInputUpdate.value.replace(/\D/g, ''); // Eliminar caracteres no numéricos
                        whatsappUrlInputUpdate.value = telefonoValue ? `https://wa.me/${telefonoValue}` : '';
                      });
                    </script>

                    <div class="form-group">
                      <label for="facebookUrl">URL de Facebook:</label>
                      <input type="url" id="facebookUrl" name="facebookUrl" value="<%= contact.facebookUrl %>">
                    </div>

                    <div class="form-group">
                      <label for="extraUrl">URL Extra:</label>
                      <input type="url" id="extraUrl" name="extraUrl" value="<%= contact.extraUrl %>">
                    </div>
                    <div class="form-group">
                      <label for="footer">Footer:</label>
                      <input type="text" id="footer" name="footer" value="<%= contact.footer %>">
                    </div>

                    <button type="submit" class="btn btn-primary">Actualizar</button>
                  </fieldset>
                </form>
              </div>
            </li>
          <% }); %>
        </ul>
      </section>
    </div>
  </main>
</body>
<script>
  function toggleUpdateForm(id) {
    const form = document.getElementById(`update-form-${id}`);
    form.style.display = form.style.display === 'none' ? 'block' : 'none';
  }
</script>
</html>
