<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Administrar Otros Sercivios</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  <link rel="icon" href="/img/administracion.png" type="image/png">
</head>
<body class="admin-page">
  <header>
    <nav>
      <a href="/admin">
        <i class="fas fa-tachometer-alt"></i> Inicio
      </a>
      <a href="/admin/services">
        <i class="fas fa-tools"></i> Servicios
      </a>
      <a href="/admin/galeria">
        <i class="fas fa-cogs"></i> Otros
      </a>
      <a href="/admin/contact">
        <i class="fas fa-address-book"></i> Contacto
      </a>
      <a href="/logout">
        <i class="fas fa-sign-out-alt"></i> Cerrar Sesión
      </a>
    </nav>
  </header>

  <main>
    <div class="admin-container-galeris">
      <!-- Sección para Agregar a la Galería -->
      <section class="add-gallery">
        <h1>Agregar Otros Servicios</h1>
        <form action="/admin/galeria/add" method="post" class="gallery-form">
          <div class="form-group">
            <label for="title">Título:</label>
            <input type="text" id="title" name="title" required>
          </div>

          <div class="form-group">
            <label for="description">Descripción:</label>
            <textarea id="description" name="description" required></textarea>
          </div>

          <div class="form-group">
            <label for="image">URL de la Imagen:</label>
            <input type="text" id="image" name="image" required>
          </div>

          <button type="submit" class="submit-btn">Añadir Servicio</button>
        </form>
      </section>

      <!-- Sección para Mostrar y Eliminar de la Galería -->
      <section class="manage-gallery">
        <h2>Otros Servicios</h2>
        <ul class="gallery-list-admin">
          <% galeria.forEach(galeria => { %>
            <li class="gallery-item-admin">
              <div class="gallery-details-admin">
                <strong><%= galeria.title %></strong>
                <p><%= galeria.description %></p>
              </div>
              <form action="/admin/galeria/delete/<%= galeria._id %>" method="post">
                <button type="submit" class="delete-btn">Eliminar</button>
              </form>
              <!-- Botón para mostrar/ocultar formulario de actualización -->
              <button class="toggle-update-form" onclick="toggleUpdateForm('<%= galeria._id %>')">Actualizar</button>

              <!-- Formulario para actualizar un servicio de galería (oculto por defecto) -->
              <div id="update-form-<%= galeria._id %>" class="update-form-container" style="display: none;">
                <form action="/admin/galeria/update/<%= galeria._id %>" method="post" class="update-form">
                  <fieldset>
                    <legend>Actualizar Servicio de Galería</legend>
                    <div class="form-group">
                      <label for="title">Título:</label>
                      <input type="text" id="title" name="title" value="<%= galeria.title %>" required>
                    </div>

                    <div class="form-group">
                      <label for="description">Descripción:</label>
                      <textarea id="description" name="description" required><%= galeria.description %></textarea>
                    </div>

                    <div class="form-group">
                      <label for="image">URL de la Imagen:</label>
                      <input type="text" id="image" name="image" value="<%= galeria.image %>" required>
                    </div>

                    <button type="submit" class="btn btn-primary">Actualizar</button>
                  </fieldset>
                </form>
              </div>
            </li>
          <% }); %>
        </ul>
      </section>
    </div>
  </main>

  <script>
    function toggleUpdateForm(id) {
      const form = document.getElementById(`update-form-${id}`);
      form.style.display = form.style.display === 'none' ? 'block' : 'none';
    }
  </script>
</body>
</html>
