<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Servicio Técnico</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/css.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  <link rel="icon" href="/img/LogoOfic.png" type="image/png"> 
  <style>
  body.services-page {
    background-image: url('/img/FondoPrincip.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }

  @media (max-width: 768px) {
    body.services-page {
      background-attachment: scroll;
    }
  }
  footer {
    background: #222;
    color: white;
    padding: 20px 0;
    text-align: center;
  }

  .footer-icons {
    list-style: none;
    padding: 0;
  }

  .footer-icons li {
    display: inline;
    margin: 0 10px;
  }

  .footer-icons a {
    color: white;
    font-size: 24px;
    text-decoration: none;
  }

  .footer-icons a:hover {
    color: #00aced;
  }
</style>
</head>
<body class="services-page">
  <%- include('../partials/header') %>

  <!-- Main Content Section -->
  <main>
    <section class="portadaServi">
      <div class="portada-content">
        <h2><span class="brand-name-serv">Servicio Técnico</span></h2>
        <p class="contact-descript">
          Nos especializamos en la reparación y el mantenimiento de dispositivos electrónicos. 
          Ya sea que necesites una reparación urgente o un mantenimiento preventivo. 
          Ofrecemos servicios de reparación para celulares, laptops, computadoras y otros dispositivos tecnológicos con garantía de calidad.
        </p>
        
        <!-- Lista de Servicios Técnicos -->
        <div class="services-container">
          <% services.forEach(service => { %>
            <div class="service-item">
              <img class="service-image" src="<%= service.image %>" alt="<%= service.title %>">
              <div class="service-info">
                <h5 class="service-title"><%= service.title %></h5>
                <p class="service-description"><%= service.description %></p>
              </div>
            </div>
          <% }); %>
        </div>
      </div>
    </section>
  </main>

  <footer>
    <% contact.forEach(contact => { %>
    <ul class="footer-icons">
      <li>
        <a href="<%= contact[0].emailUrl %>"><i class="fas fa-envelope"></i></a>
      </li>
      <li>
        <a href="<%= contact[0].facebookUrl %>" target="_blank"><i class="fab fa-facebook"></i></a>
      </li>
      <li>
        <a href="<%= contact[0].whatsappUrl %>" target="_blank"><i class="fab fa-whatsapp"></i></a>
      </li>
    </ul>
    <p>&copy; <%= contact[0].footer %></p> 
    <% }); %>
</footer>
</body>
</html>
